/*Commenting method in CSS is the same for the HTML (ctrl+shift+/)*/

/*CSS STYLING SPECIFICITY
	inline styling has the highest priority over internal and external styling
	external styling has the lowest priority over inline and internal styling

	CSS STYLING PRIORITY
	inline>internal>external

	!important - property used in CSS to override the CSS priority rule. it makes the property to which
		it is attached a priority over any other conflicting stlye (regardless if it's internal of inline)
			- if conflicting are trying to modify the same element with the use of !important,
				CSS STYLING PRIORITY applies.

*/
/*h1{
	color: red !important;
	background-color: pink;
}*/

/*CSS Selector*/
/*
	* - universal selector; it is used to target all elemnts inside the html tag;
	
	font-family - changes the style of the font
		Courier New - is the font that is being used by the webpage to display the texts
		monospace - the family from which the browser will try to search for a font once 
			the Courier New is not available
	font-size - changes the font size
		20px - value in which the size of the text will be 20 pixels in measure
*/
*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}


/*ID SELECTOR*/

/*id selector - this is commonly used to provide unique styling for an element*/
/*#idName*/
/*letter-spacing - used to change the spaced in between the characters of the text*/

#zuitt-motto{
	letter-spacing: 5px;
}

/*CSS Specificity*/
/*
	in terms of the selectors, id has the highest priority over other selectors and universal selector has the lowest
*/
/*h3{
	letter-spacing: 25px;
}*/

/*CLASS SELECTOR*/
/*.className*/
/*
	use class selector to style the li in the indexl.html and make its uppercase use text-transform property
*/

.offering-item{
	text-transform: uppercase;
}

/*ATTRIBUTE SELECTOR*/
/* will only work if the element has the exact attribute that is specified in th selector. case sensitive
SYNTAX
	tag[attribute]
*/
input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

/*COMBINATION SELECTORS*/
/*these selectors require two selectors but the target is the latter/second selector*/

/*ADJACENT SIBLING SELECTOR*/
/*selector that is used to target the selector that is next to the first selector*/
/*h3 is point reference, img is target*/
/*
	SYNTAX
		first selector + second selector
*/

/*
	height - height of element
	width - width of element
	border-radius - corners from sharp to round
*/

h2 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;

}

/*

in combination selectors, we are not restricted to use uniform/one tag for both. tyhe firstSelector can be a class/id/tag while the secondSelector can be of different selector
#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;

}

/*DESCENDANT SELECTOR*/

/* used to select elements that are inside other elements */
/*
	SYNTAX
		firstSelector secondSelector
*/
/*hexadecimal can be used to depict color*/

#bootcamp-learning-list li{
	color: #075966;
}

/*GENERAL SIBLING SELECTOR*/
/*
	used to target the preceeding siblings of the first selector 
*/

h2 ~ a{
	text-decoration: none;
}

/*CHILD SELECTOR*/
/* color also accepts rgb as its value; red, green, blue. the numbers inside the parenthesis range from 0 to 255 */
/*can be used to select the child of the first selector, or in this case of the selector that comes before it.*/
/*
	SYNTAX

*/

form>label{
	color: rgb(0,0,128);
}

body{
	background-color: skyblue;
}

html{
	scroll-behavior: smooth;
}

/*NAVIGATION*/
nav{
	background-color: white;
}

a:hover{
	background-color: #b3d6de;
}

div{
	display: inline-block;
}

section{
	/* vh - viewport height; the browser will b using 100% of the screen display */
	height: 100vh;
	text-align: center;
}

h2{
	/* rem - root element measurement it multiplies the value attached it to root element (html);
			default value would be 16px*/
	font-size: 1.5rem;
}

ol{
	/* list-style-type - changes the bullet/ordering style of the element */
	list-style-type: none;
}

/*REGISTER SECTION*/
/*
	position - property that changes the position of element based on a certain criteria
	left - used along the position propery to add a certain measurement to the left of the element
		directions (l,t,r,b) - recommended to use only 2 of the directions, vertical (t,b) or horizontal (l,r) per selector
		-% as the value would be based on the parent element
*/

form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 250px;
	width: 25vw;
	/*used by dev for exact measurements*/
	position: relative;
	left: 37.25%;
}

button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}