/*EXTERNAL*/
.style2{
	color: yellow;
}

/*UNIVERSAL*/
*{
	font-family: "Arial", monospace;
	font-size: 20px;
}

/*TYPE*/
h1{
	font-size: 60px;
}

/*ID*/
#tfft{
	text-transform: uppercase;
}

/*CLASS*/
.langtbl{

	background-color: yellowgreen;
}

/*ATTRIBUTE*/
li[class="tootbu"]{
	border: 1px solid;
	border-color: royalblue;
}

/*DESCENDANT*/
section img{
	height: 120px;
	width: 120px;
	border-radius: 60px;
}

/*ADJACENT*/
img + ul{
	list-style-type: none;
}

/*CHILD*/
section>ul{
	letter-spacing: 10px;
}

ol ~ p{
	text-align: center;
}
